/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/
#icon {
	width: 19px;
	height: 19px;
	top: 15px;
	left: 17px;
}
textarea {
	font-family: Consolas, "Lucida Console", Monaco, monospace
}
.setting.label.checkbox {
	color: #666;
}
